/* general styles*/
*{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  pointer-events: none;
}


body {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height:100%;
  width:100%;
  
}

h1{
    font-family: Monospace, Brush Script Std, 'Lucida Console';
  font-size: 40px;
  color: goldenrod;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

button {
  border-radius: 15%;
  margin: 30px auto;
  border: 2px solid crimson;
  background-color: lightgrey;
  height: 30px;
  width: 100px;
  font-weight: bold;
  pointer-events: auto;
}

#wrapper{
  display:flex;
  margin: auto;
  
  width: 780px;
  height: 350px;
  
  padding: 40px;
  padding-bottom: 200px;
  
  border: 3px solid darkslategrey;
  border-radius: 20px;
  background: crimson;
  
}
 
#name {
  width: 780px;
  
}

#container{
  display: grid;
  margin: auto;
  flex: 1;
  
  width:100%;
  height:80%;
  /*width: 780px;
  height: 500px;*/
  
  border: 3px solid darkslategrey;
  border-radius: 5px;
  
}

.box  {
  background-color: lightgrey;
  pointer-events: auto;
}